* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Consolas';
    font-size: medium;
    font-weight: bolder;
    color: black;
    position: relative;
}

.topBar {
    font-family: 'Consolas';
    font-size: medium;
    font-weight: bolder;
    color: white;
    text-align: left;
    background-image: linear-gradient(125deg, #1d4b69, #2c3e50, #3f8396, #94b3c8, #c4d5e0);
    /* #94b3c8, #7cc9c9, */
    background-size: 400%;
    animation: bganimation 10s infinite;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.topBar {
    box-shadow: 10px 5px 5px rgb(131, 131, 131);
    padding: 3px 0;
}

.selectSpace {
    border-bottom: 3px solid gr;
    border-radius: 2%;
    box-shadow: 10px 5px 5px rgb(131, 131, 131);
    padding: 15px;
}

.footer {
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
}

.copyRight {
    margin: 0 auto;
    text-align: center;
}

.table {
    margin: 0 auto;
}

#walletBalance {
    /* display: block; */
    max-height: 300px;
    overflow-y: scroll;
}

#resultTable {
    overflow-y: scroll;
}

*/ a {
    /* color: white; */
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn-info,
.btn-primary {
    font-weight: bolder;
    font-size: large;
}

.nav li {
    float: left;
    width: 25%;
    margin-top: 0px;
    text-align: center;
    font-size: 1.1em;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: center;
    /*line-height: 36px;*/
}